<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title></title>
</head>

<body>

<div class="container">

    <h3>Items list</h3>

    <!-- Add a button -->
    <!--
    <a th:href="@{/items/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Item
        -->


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temp:${savedList}">
            <td th:text="${temp.bookName}"></td>


        </tr>

        </tbody>
    </table>

</div>

</body>
</html>



