<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>welocme page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>

    <div class="container" style="text-align:left">
        <br>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <br>
        <p>
            <a th:href="@{/books/list}" class="btn btn-outline-dark">books List</a>
        </p>
        <br>
        <p>
            <a th:href="@{/select/list}" class="btn btn-outline-dark">selection</a>
        </p>
        <br>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-outline-danger"/>
        </form>
    </div>


</body>
</html>
<!--
<div class="container" style="text-align:center">
    <br>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <hr>
    <br><br><br>
    <p>
        <a th:href="@{/items/list}" class="btn btn-outline-dark">Students List</a>
    </p>
    <br><br>
    <p>
        <a th:href="@{/shopping/list}" class="btn btn-outline-dark">Course List</a>
    </p>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-outline-danger"/>
    </form>
</div>
-->
<